table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

th, td {
  border: 1px solid #4b4159;
  padding: 0.5rem;
  text-align: left;
}

th {
  background-color: #9186ae;
}

td {
    color: #463d53;
}

h3 {
   color:  #4b4159;
}

.divT{
    margin: 10px;
    width: 95%;
}